<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/style/custom.css">
    <title>Chord System</title>
</head>
<body>
    <h1>Chord System</h1>
    <div class="start-content">
        <p class="text-justify">
            This is a simplified Chord System that starts with 40 nodes that represents musics but only 8 nodes start active.
        </p>
        <p class="text-justify">
            You can add and delete nodes and each have the following structure:
            <ul>
                <li>Node ID</li>
                <li>Music Name</li>
                <li>MAC Address</li>
                <li>Status (Active/Desactive)</li>
                <li>Next Node</li>
            </ul>
        </p>
        <p class="text-justify">
            You can navigate between screens by following the file button on the top left of the window
        </p>
    </div>
    <p class="text-justify corp-text">
        This program was made by Micael Moraes using NodeJS, ElectronJS and SQLite
    </p>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>